# --- Security  ---
.env
.env.*
*.pem
*.key

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# --- Airflow Logs  ---
logs/
plugins/__pycache__/
dags/__pycache__/

# --- IDE Settings  ---
.vscode/
.idea/
*.swp

# --- OS Files ---
.DS_Store
Thumbs.db
